<ul class="nav flex-column">
    <li class="nav-item">
        <a class="@(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "navbar-brand active" : "navbar-brand")" asp-active-route asp-controller="Customers" asp-action="Index">Kundenliste</a>
    </li>
    <li class="nav-item">
        <a class="@(ViewContext.RouteData.Values["action"].ToString() == "Create" ? "navbar-brand active" : "navbar-brand")"asp-active-route asp-controller="Customers"  asp-action="Create">Neuen Kunden anlegen</a>
    </li>
</ul>