@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<div class="row text-center">
    <h1 class="display-4 w-100">Testaufgabe für vetsoft.one GmbH</h1>

    <div class="col-8  mr-auto ml-auto">
        <p>Dieses Tool bietet die Möglichkeit Kundendaten zu verwalten.</p>
        <p>Unter Kundendaten fallen folgende Informationen:</p>
        <div class="row">
            <div class="col-2 mr-auto ml-auto">
                <ul class="text-left">
                    <li>Name</li>
                    <li>Vorname</li>
                    <li>Straße</li>
                    <li>PLZ</li>
                    <li>Ort</li>
                </ul>
            </div>
        </div>
        <p>Die Testaufgabe ist als C# MVC .Net Core 3.1 Projekt erstellt und Entity Framework zur Datenverwaltung verwendet worden.</p>
        <p>Das Design wurde mit SCSS/HTML umgesetzt und lehnt sich an das Design der <a class="color-blue" href="https://www.wdt.de/" target="_blank">WDT-Website</a> an.</p>
    </div>
</div>
